<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        table, th, td, tr {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Categorías/Nro de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Categorías</th>
            </tr>
        </thead>
        <tbody>
            {% for c in datos.categorias %}
            <tr>
                <td>{{c}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Categoría</th>
                <th>N° de productos</th>
            </tr>
        </thead>
        <tbody>
            {% for c_p, value in datos.categorias_productos.items %}
            <tr>
                <td>{{c_p}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>