<html>
    <head>
        <title></Bienvenidos></title>
        <p style="text-align:justify; font-family:courier;"><h2><b>Bienvenidos</b></h2></p>
    </head>
    <body>
        <br>
        <br>
        <table>
            <tr>
                <td><a href="http://4gus13.pythonanywhere.com/productos">Listado de Productos</a></td>
            </tr>
            <tr>
                <td><a href="http://4gus13.pythonanywhere.com/detalle">Detalles de Productos</a></td>
            </tr>
            <tr>    
                <td><a href="http://4gus13.pythonanywhere.com/dashboard">Dashboard</a></td>
            </tr>
        </table>
    </body>
</html>