<html>
    <head>
        <!--title es el título que se muestra en la pestaña del navegador-->
        <title>Dashboard</title>
        <!--p es un párrafo y h(1, 2, 5)son tamaños de titulares-->
        <p><h2 style="text-align: center";>Listado de Productos</h2></p>
        <!--Agrego estilo para los bordes de los elementos de las tablas-->
        <style>
        table, th, td, tr {
          border: 1px solid black;
        }
        </style>
    </head>    
    <body>
      <table>
        <thead>
            <tr>
                <th>Descuento</th>
                <th>N° de productos</th>
            </tr>
        </thead>
        <tbody>
            {% for d_p, value in datos.descuentos_productos.items %}
            <tr>
                <td>{{d_p}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>